html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.center {
    text-align: center;
}

.heading {
    color: #02b3e4;
    font-size: 3em;
}
